body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.lighttext {
    color: white;
}

.footerset{
    margin-top: 10rem;
    color: white;
}
h4 {
    font-family: 'Tilt Warp', cursive;
}
li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }